<!-- start navbar -->
<% if (message) { %>
  <div class="alert alert-<%= message.type %> alert-dismissible show" role="alert">
    <%= message.message %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% } %>
<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">TICKs ID</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
        <% if (isHome) { %>
            <a class="nav-link active" aria-current="page" href="#now">Now Playing</a>
        <% } else{%>
            <a class="nav-link active" aria-current="page" href="/">Now Playing</a>
        <% } %>
        </li>
        <li class="nav-item">
          <div class="nav-item dropdown d-flex">
            <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Genre</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/genre/1">Action</a></li>
              <li><hr class="dropdown-divider" /></li>
              <li><a class="dropdown-item" href="/genre/2">Animation</a></li>
              <li><hr class="dropdown-divider" /></li>
              <li><a class="dropdown-item" href="/genre/3">Comedy</a></li>
              <li><hr class="dropdown-divider" /></li>
              <li><a class="dropdown-item" href="/genre/4">Horror</a></li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/payment/">Payment</a>
        </li>
        <% if (isHome) { %>
          <li class="nav-item">
            <a class="nav-link disabled" aria-current="page" href="#">Download App</a>
          </li>
        <% } %>
      </ul>
      <% if (isLogin) { %>
        <% if (isHome) { %>
          <form class="d-flex">
            <input class="form-control me-2" type="date" placeholder="Search" aria-label="Search" />
            <button class="btn btn-danger" type="submit">Search</button>
          </form>
        <% } %>
        <div class="nav-item dropdown d-flex">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://www.clipartmax.com/png/full/434-4349876_profile-icon-vector-png.png" width="40px" alt="" />
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li class="account-info">
              <h6 class="text-center mx-1"> name </h6>
              <p class="text-center mx-3"><%= email %> </p>
            </li>
            <li><hr class="dropdown-divider" /></li>
            <% if (isAdmin != null) { %>
              <li><a class="dropdown-item" href="/admin">Add Movie</a></li>
            <% } %>
            <li><a class="dropdown-item" href="/payment">Your Payments</a></li>
            <li><a class="dropdown-item" href="/logout">Logout</a></li>
          </ul>
          <% } else { %>
            <div class="nav-item dropdown d-flex">
            <a class="btn btn-outline-dark mx-2" data-bs-toggle="modal" href="#registerModal">Register</a>
            <a class="btn btn-dark px-4" data-bs-toggle="modal" href="#loginModal">Login</a>
        <% } %>
      </div>
    </div>
  </div>
</nav>
<!-- end navbar -->

<!-- modal register -->
<div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
  <div class="modal-md modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="registerModalLabel">Register</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/register" method="POST">
          <div class="mb-3">
            <label for="name" class="form-label">Your name</label>
            <input type="text" name="name" class="form-control" id="name" />
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" />
            <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" name="password" class="form-control" id="exampleInputPassword1" />
          </div>
          <!-- <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1" />
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
          </div> -->
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-danger">Register</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- modal login -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-md modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="loginModalLabel">Login</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/login" method="POST">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" />
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" name="password" class="form-control" id="exampleInputPassword1" />
          </div>
          <!-- <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1" />
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
          </div> -->
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-danger">Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
